<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div id="share-bar">

    <div class="share-buttons">

        <a  href="https://fr.linkedin.com/in/axel-rasse-bbbb3812b"
            title="LinkedIn icon" >
            <i class="fa fa-linkedin share-button"></i>
        </a>

        <a  href="https://github.com/axelearning"
            title="github icon" >
            <i class="fa fa-github"></i>
        </a>

    </div>

</div>

<style>
    /* Share Bar */
    #share-bar {
        font-size: 25px;
    }

    /* Each button */
    .share-button {
        margin: 0px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 5px 10px 5px 10px;
    }
    .share-button:hover {
        opacity: 1;
        color: #ffffff;
    }

    /* LinkedIn button */
    .fa-linkedin {
        color: #444444;
    }
    .fa-linkedin:hover {
        background-color: #444444;
    }

    /* github button */
    .fa-github {
        color: #444444;
        margin: 0px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 5px 10px 5px 10px;
    }
    .fa-github:hover {
        background-color: #444444;
        opacity: 1;
        color: #ffffff;
    }
</style>